.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-link-elm10 {
  text-decoration: none;
}
 
.footer-thq-footer-link-elm11 {
  text-decoration: none;
}
 
.footer-thq-footer-link-elm13 {
  text-decoration: none;
}
 
.footer-thq-footer-link-elm16 {
  text-decoration: none;
}
 
.footer-thq-footer-link-elm17 {
  text-decoration: none;
}
 
.footer-thq-footer-link-elm18 {
  text-decoration: none;
}
 
.footer-thq-footer-link-elm20 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.footer-thq-footer-link-elm21 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.footer-thq-footer-partner-icons-elm {
  text-decoration: none;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
